<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sep4_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name="view.activity.owner.UserViewBo"></activity>
        <activity android:name="view.activity.employee.BookingViewEm" />
        <activity android:name="view.activity.customer.BookingViewCu" />
        <activity android:name="view.activity.SaunaView" />
        <activity android:name="view.activity.owner.SettingsViewBo" />
        <activity android:name="view.activity.customer.SettingsViewCu" />
        <activity android:name="view.activity.employee.SettingsViewEm" />
        <activity android:name="view.activity.owner.HomeViewBo" />
        <activity android:name="view.activity.customer.HomeViewCu" />
        <activity android:name="view.activity.employee.HomeViewEm" />
        <activity android:name="view.activity.LogInView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>